services:
  calculator:
    build:
      context: ./server
    image: calculator:latest-v4
    container_name: servicio_descuentos
    ports:
      - "8081:8080"
    networks:
      - i2ex-alnr-net
  discounts:
    build:
      context: ./client
    image: client:latest-v4
    container_name: cliente_descuentos
    depends_on:
      - calculator
    ports:
      - "3000:80"
    networks:
      - i2ex-alnr-net

networks:
  i2ex-alnr-net:
    driver: bridge
    name: i2ex-alnr-net
